@if (label) {
  <label class="ui-field__label" [for]="fieldId">{{ label }}</label>
}
<select
  class="ui-field__input ui-select"
  [class.ui-field__input--invalid]="!!errorMessage"
  [id]="fieldId"
  [disabled]="disabled"
  [value]="value ?? ''"
  (change)="handleChange($event)"
  (blur)="handleBlur()"
>
  <option value="" disabled>{{ placeholder }}</option>
  @for (option of options; track option.value) {
    <option [value]="option.value">{{ option.label }}</option>
  }
</select>
@if (errorMessage) {
  <p class="ui-field__error">{{ errorMessage }}</p>
}
